code[class*="language-"],
pre[class*="language-"] {
	color: var(--onedark-white);
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: var(--onedark-bg-light);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--onedark-gray);
}

.token.punctuation {
	color: var(--onedark-white);
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #F00;
}

.token.function-name {
	color: #F00;
}

.token.null,
.token.boolean,
.token.number {
	color: var(--onedark-orange);
}

.token.property,
.token.symbol {
	color: #00F;
}

.token.constant {
	color: var(--onedark-orange);
}

.token.class-name {
	color: var(--onedark-yellow);
}

.token.selector,
.token.important,
.token.atrule {
	color: var(--onedark-purple);
}

.token.keyword {
	color: var(--onedark-cyan);
}

.token.custom-command, .token.method-definition .token.function {
	color: var(--onedark-blue);
}

.token.string,
.token.char,
.token.attr-value {
	color: var(--onedark-green);
}

.token.variable {
	color: var(--onedark-red);
}

.token.operator,
.token.entity,
.token.url {
	color: var(--onedark-purple);
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

